{% extends 'posts/base.html' %}

{% block content %}
<div class="jumbotron">
	<h1>My Blog</h1>
</div>
	<a href="/posts/create/" class="btn btn-info btn-lg active" role="button">Create</a>
	<a href="https://github.com/DimaLat" class="btn btn-info btn-lg active" role="button">Github</a>
	<hr>
	{% for post in posts %}
	<div class="row">
		<img src="{{ post.image.url }}" class="img-responsive">
	</div>
	<div class="row">
		<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>Written by {{ post.author }}</small></h2>
		<p>{{ post.description }}</p>
	</div>
	<hr>
	{% endfor %}
	<hr>
	<h1>Admins posts</h1>
	{% for post in admins_posts %}
	<div class="row">
		<img src="{{ post.image.url }}" class="img-responsive">
	</div>
	<div class="row">
		<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>Written by {{ post.author }}</small></h2>
		<p>{{ post.description }}</p>
	</div>
	<hr>
	{% endfor %}
	<hr>
	<h1>Editor_dudes posts</h1>
	{% for post in editor_dudes_posts %}
	<div class="row">
		<img src="{{ post.image.url }}" class="img-responsive">
	</div>
	<div class="row">
		<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>Written by {{ post.author }}</small></h2>
		<p>{{ post.description }}</p>
	</div>
	<hr>
	{% endfor %}
{% endblock content %}